.body {
  position: relative;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-bottom: 2.5rem; /* Footer height */
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
