.card {
  float: left;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  margin: 500px;
}

div.card {
  border-radius: 25px;
}

.card-content {
  max-width: 100%;
  max-height: 100%;
  color: black;
}
